.horizontal-slider-container {
    width: 100%;
    margin-top: 20px;
  }
  
  .horizontal-slider {
    width: calc(100% - 20px); /* Adjust width as needed */
    height: 20px;
  }
  
  .thumb {
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: 1px solid #000;
    text-align: center;
    line-height: 20px;
  }
  
  .track {
    background: #ddd;
    height: 10px;
  }