.exptimer-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 25vh;
  display: flex;
  background-color: #1e1e1e;
  color: #f0f0f0;
  box-shadow: 0 -2px 15px rgba(0, 0, 0, 0.7);
  border-top: 2px solid #00ffcc;
  border-radius: 10px 10px 0 0;
}

.time-controller {
  width: 20%;
  border-right: 1px solid #00ffcc;
  background-color: #2a2a2a;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px 0 0 0;
}

.controller-content {
  display: flex;
  font-size: 1rem;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.time-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem; /* Very small font size */
  color: #00ffcc;
}

.time-unit-controls {
  display: flex;
  gap: 5px;
  margin-top: 5px;
}

.time-unit-btn {
  font-size: 1rem; /* Very small font size */
  width: 30px;
  height: 30px;
  padding: 0;
  border: none;
  background: #333;
  color: #00ffcc;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.control-buttons-container {
  display: flex;
  align-items: center;
  gap: 10px; /* Space between buttons and input */
  margin-bottom: 10px; /* Add space below the buttons */
  font-size: 0.7rem;
}

.control-btn {
  font-size: 1.5rem; /* Slightly larger font size */
  width: 40px;       /* Bigger button size */
  height: 40px;      /* Bigger button size */
  padding: 0;
  border: none;
  background: #333;
  color: #00ffcc;
  cursor: pointer;
  border-radius: 50%;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Container that holds the button and the display */
.starttime-container {
  display: flex; /* Align children in a row */
  justify-content: space-between;
  flex-direction: row; /* Space out children to fill the container */
  align-items: center; /* Center items vertically */
  padding: 0 0px; /* Add some padding on the left and right */
  box-sizing: border-box; /* Include padding in element's total width and height */
}

/* Button styling */
.starttime-btn {
  font-size: 0.8rem; /* Slightly larger font size */
  width: 120px; /* Bigger button size */
  height: 40px; /* Bigger button size */
  padding: 0;
  border: none;
  background: #333;
  color: #00ffcc;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0; /* Remove margin if unnecessary */
}

/* Display text styling */
.starttime-display {
  font-size: 0.8rem; /* Font size for the display */
  color: #00ffcc; /* Text color */
  margin: 0; /* Remove margin */
  text-align: center; /* Center text */
}

.time-step-input {
  width: 60px; /* Adjust width as needed */
  font-size: 0.8rem; /* Small font size */
  margin-left: 5px;
  color: #00ffcc;
  background-color: #2a2a2a;
  border: 1px solid #00ffcc;
  border-radius: 10px;
}

.timeline-panel {
  width: 80%;
  background-color: #1e1e1e;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0 10px 0 0;
}

.slider-container {
  margin-top: 10px;
  flex-grow: 1;
  background: #2a2a2a;
  color: #a31313;
  border-radius: 0 0 10px 10px;
}

.horizontal-slider {
  width: 100%;
  height: 6px;
  background: #00ffcc;
  border-radius: 3px;
}

.thumb {
  background: #333;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #00ffcc;
}

.datepicker-popup {
  position: absolute;
  font-size: 0.8rem;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50%);
  background: rgb(92, 91, 91);
  padding: 20px;
  border: 1px solid #00ffcc;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  border-radius: 10px;
}

.datepicker-popup button {
  margin: 5px;
  background-color: #333;
  color: #00ffcc;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Adjust the height and width of the calendar */
.rdtPicker {
  width: 200px; /* Adjust as needed */
  height: auto; /* Automatically adjust height */
}

/* Adjust the height of the date and time selection */
.rdtPicker .rdtDays,
.rdtPicker .rdtTime {
  max-height: 100px; /* Set a maximum height */
  overflow-y: auto; /* Enable scrolling if content exceeds max height */
}

/* Adjust the individual day cells height */
.rdtPicker .rdtDays .rdtDay {
  height: 30px; /* Adjust as needed */
  line-height: 30px; /* Vertically center the text */
}

/* Adjust the height of the time selection elements */
.rdtPicker .rdtTime .rdtHours,
.rdtPicker .rdtTime .rdtMinutes,
.rdtPicker .rdtTime .rdtSeconds {
  height: 30px; /* Adjust as needed */
  line-height: 30px; /* Vertically center the text */
}

.current-time-point {
  height: 100%!important;
  background-color: rgba(0, 255, 204, 0.2); /* Customize color as needed */
  border: 0px solid rgba(0, 255, 204, 0.5);
}

.time-input .rdt {
  background-color: var(--highlight-bg);
  border: none;
  border-radius: 4px;
  color: var(--text-color);
}

.time-input .rdt input {
  background-color: var(--highlight-bg);
  color: var(--text-color);
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}

.time-input .rdtPicker {
  background-color: var(--highlight-bg);
  color: var(--text-color);
  border: none;
}

.time-input .rdtPicker td.rdtDay:hover,
.time-input .rdtPicker td.rdtHour:hover,
.time-input .rdtPicker td.rdtMinute:hover,
.time-input .rdtPicker td.rdtSecond:hover {
  background-color: var(--highlight-color);
  color: var(--text-color);
}

.time-input .rdtPicker td.rdtActive,
.time-input .rdtPicker td.rdtActive:hover {
  background-color: var(--highlight-color);
  color: var(--text-color);
}
