body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #1b1b1b;
  font-family: 'Arial', sans-serif;
}

.resizable-panels {
  position: fixed;
  right: 0;
  top: 0;
  width: 20vw;
  height: 100vh;
  background: #2c2c2c;
  display: flex;
  flex-direction: column;
  z-index: 800;
  border-left: 2px solid #444;
  border-radius: 10px 0 0 10px;
}

.top-panel, .bottom-panel {
  background: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #444;
  color: #ccc;
  border-radius: 10px;
  margin: 5px;
  padding: 10px;
}

.drag-line {
  height: 5px;
  background: #444;
  cursor: ns-resize;
  user-select: none;
}

.top-panel, .bottom-panel, .drag-line {
  transition: height 0.3s ease;
}

.top-panel:hover, .bottom-panel:hover, .drag-line:hover {
  background: #3c3c3c;
}

.toggle-container {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background: linear-gradient(145deg, #4a4a4a, #3c3c3c);
  color: #fff;
  border-radius: 10px 0 0 10px;
  padding: 10px;
  text-align: center;
  z-index: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.toggle-button {
  color: #fff;
  font-size: 32px; /* Increase icon size */
}

.toggle-button:hover {
  color: #ff9800;
}

.toggle-text {
  margin-top: 10px;
  font-size: 14px; /* Adjust text size */
  font-weight: bold;
}

.collapse-button {
  position: fixed;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  background: linear-gradient(145deg, #4a4a4a, #3c3c3c);
  border-radius: 10px 0 0 10px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  z-index: 900;
  width: 60px;  /* Adjust button width */
  height: 60px; /* Adjust button height */
  display: flex;
  align-items: center;
  justify-content: center;
}

.collapse-button:hover {
  color: #ff9800;
}
